.gic-logo{
    width: 35px;
    height: 35px;
}

.side-bar{
    background-color: #0E2BBF;
}

.nav-item{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.menu-icon{
    padding-right: 6px;
}