.gic-logo{
    width: 35px;
    height: 35px;
}
.sys_body {
    background-color: #4fbba712;
    height: 500px !important;
}

.brand_title {
    font-size: 1rem !important;
    font-weight: bold;
}

.nav1 {
    background-color: #4fbba770 !important;
}

.nav2 {
    box-shadow: 1.04275vw -0.04275vw 0.4vw 0px rgba(0, 0, 0, 0.16);
    padding: 1px !important;
}