.gic-logo{
    width: 35px;
    height: 35px;
}

.sys-body {
    background-color: #4fbba712;
    height: 500px !important;
    font-size: 14px !important;
}

.brand-title {
    font-size: 1rem !important;
    font-weight: bold;
}

.nav1 {
    background-color: #4fbba770 !important;
}

.nav2 {
    box-shadow: 1.04275vw -0.04275vw 0.4vw 0px rgba(0, 0, 0, 0.16);
    padding: 1px !important;
     font-weight: 600 !important;
}

.home-icon {
    font-size: 16px !important;
    padding-top: 4px !important;
}

.dropdown-item {
    font-size: 14px !important;
}

.login-user-name {
    margin-top: 8px;
}
